i{
    font-size: 2.5em;
}

ul{
    display: block;
    
}
li{
    display: inline-block;
}
.add40vh{
    height:40vh;
}

.small-side-margins{
    margin-left: 50px;
    margin-right:50px;
}

.noleftpadding{
    padding-left:0px ;
}

@media only screen and (min-width:600px ) and (max-width:991px){
    .large-icons{
        font-size:3.5em;
    }
}
@media only screen and (min-width:300px) and (max-width: 501px){
    .topnavbar > ul > li > a {
        font-size:.6em ;
    }
}

